# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

jobs:
- job: 'Robot_Test'
  pool:
    vmImage: ubuntu-latest

  steps:
  - script: pip install robotframework
    displayName: 'Install Robot Framework'
    
  - script: pip install robotframework-selenium2library
    displayName: 'Install Selenium'

  - script: npm install chromedriver
    displayName: 'Install Chromedriver'

  - script: |
      pwd
      ls
      cd robot_test
      robot *.test
    displayName: 'Run Robot Framework tests'
  
  - script: |
      pwd
      rm log.html output.xml report.html selenium-screenshot-*.png
      ls
    displayName: 'Clean up'
