trigger:
- master

jobs:
- job: 'Robot_Test'
  pool:
    vmImage: windows-latest

  steps:
  - script: pip install robotframework
    displayName: 'Install Robot Framework'
    
  - script: pip install robotframework-selenium2library
    displayName: 'Install Selenium'

  - script: npm install chromedriver
    displayName: 'Install Chromedriver'

  - script: |
      pwd
      ls
      cd robot_test
      robot *.test
    displayName: 'Run Robot Framework tests'
  
  - script: |
      pwd
      rm log.html output.xml report.html selenium-screenshot-*.png
      ls
    displayName: 'Clean up'

# - job: 'Appium_Test'
#   pool:
#     vmImga: ubuntu-latest

#   steps:
#   - script: npm install appium -g
#     displayName: 'Install Appium'

#   - script: |
#       wget https://dl.google.com/android/repository/commandlinetools-linux-8512546_latest.zip
#       unzip *.zip
#     displayName: 'Install Android SDK'